


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
.carouselDiv {
  width: 90%;
  max-height: 70%; 
   overflow: hidden; 
}
.noImageDivHeader
{
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
  
  font-weight: 700;
}

h1 {
  line-height: 3rem;
  
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
h2{
  font-size: 3vw;
  line-height: 3rem;
  
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.first-rowH1 {
  font-size: 20vw;
}
.second-rowH1 {
  font-size: 6vw;
}

/* .invertedTextHome{
  border-radius: 0.8rem;
  margin: 2vw;
  font-size: 4vw;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400;
  color:  rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px; 
  display: inline-block;
} */

.invertedTextHome {
  color: white;
  margin: 2vw;
  font-size: 7vw;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400;
}
.textPic3{
  background-color:rgba(0, 0, 0, 0.8) ;
}


/* .invertedText {
  background-color: black;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400;
  background-clip: text;
ne radi!!!!!!!!!!
} */

.parallaxMainDiv
 {
  position: relative;
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallaxMainDiv2,
.parallaxMainDiv3,
.parallaxMainDiv4,
.parallaxMainDiv5,
.parallaxMainDiv6 {
  position: relative;
  height: 50vh;
  width: auto;
  background-size: cover;
  background-position: center;
  justify-content: center;
  z-index: 0;
  display: flex;
  align-items: center;
}


.headerContent {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:auto;
  width: auto;
  border-radius: 10px;
  padding: 1rem;
  background: transparent;
  backdrop-filter: blur(4px);
}

.textPic6{
  color: black;
}

.ImgMainDiv {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .parallaxMainDiv {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .parallaxMainDiv2,
  .parallaxMainDiv3,
  .parallaxMainDiv4,
  .parallaxMainDiv5,
  .parallaxMainDiv6{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .parallaxMainDiv2{
    justify-content: left;
  }
  .parallaxMainDiv3{
    justify-content: right;
  }
  .parallaxMainDiv4
  {
    justify-content: left;
  }
  .parallaxMainDiv5
  {
    justify-content: right;
  }

  .parallaxMainDiv6{
    justify-content: left;
  }
  .textPic6{
    margin: 14rem;

  }
 
  .first-rowH1 {
    font-size: 15vw;
  }
  .second-rowH1 {
    font-size: 4vw;
  }
 
  .headerContent {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 24rem;
    backdrop-filter: blur(3px);
  }
  .invertedTextHome
{
  font-size: 5vw;
}
}

.noImageDiv {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.rollingContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}


.footer {
  background-color: black;
  padding: 2rem;
  bottom: 0;
  z-index: 400000;
}

.footer-col h5 {
  font-weight: bold;
  color: white;
}

.footer-col p,
.footer-col a {
  color: white;
}
